{% extends "partials/conteneur.html" %}

    {% block content%}
    <div class="container " id="apropos" >
        
    <div class="row">
        <div class="col-lg-6 text-center text-lg-start">
            <img class="img-fluid animated zoomIn" src="../../statics/img/logo_rond_fond.png" alt="cytinder_map" id="cytinder_map">
        </div>
        <div class="col-lg-6">
            <h1 class="apropos_titre">À propos de City’nder, l'application qui t’indique où vivre ! </h1>
            <p>
                Bienvenue sur City’nder, ton compagnon de confiance pour trouver la ville idéale où poser tes valises. Découvre ta ville idéale !
            </p>
        </div>
    </div>

    <h3 class="apropos_sous_titre">Notre Mission</h3>
    <div>
        Chez City’nder, notre mission est de simplifier ta recherche de logement en mettant 
        en avant tes critères. Pour trouver la ville parfaite, nous te proposons une expérience
        inédite : explore les villes de France à travers des profils variés. En acceptant ou en 
        refusant les profils, tu te rapproches de tes besoins, et donc de la ville de tes rêves!
    </div>
    <h3 class="apropos_sous_titre">Comment ça marche ?</h3>
    <div>
        Notre système original te présente des profils de villes, chacun détaillant ses 
        caractéristiques uniques, des loyers attractifs aux équipements sportifs, culturels et 
        commerciaux. Face à chaque profil, choisis si la ville te plaît ou non et fais le tri 
        en un simple clic. 
    </div>
    <h3 class="apropos_sous_titre">Des filtres personnalisés</h3>
    <div>
        Chaque personne a des besoins spécifiques, c'est pour cette raison que City’nder 
        t’offre la possibilité d'affiner tes choix en utilisant des filtres personnalisés. 
        Que tu recherches un loyer abordable, une vie culturellement riche, des installations 
        sportives de qualité, que tu souhaites vivre dans une zone de montagne ou près du littoral, 
        nous avons les filtres adaptés pour t’aider à affiner tes options.
    </div>
    <h3 class="apropos_sous_titre">Comparer les villes de ton panier</h3>
    <div>
        Une fois ton exploration terminée, City’nder te donne la liste de tes villes préférées. 
        Découvre aussi les informations complémentaires que nous te proposons : explore les 
        différentes datavisualisations pour en apprendre plus sur nos données mais aussi sur les 
        villes que tu as sélectionnées ! 
    </div>
    <h3 class="apropos_sous_titre">Qui sommes-nous ?</h3>
    <div>
        <p>Notre équipe s’est réunie autour d’un même objectif : rendre la recherche de lieux 
            de vie amusante ! C’est pour répondre à cet objectif que nous avons imaginé 
            l’aventure City’nder.</p>

        <p>Notre application a été réalisée dans le cadre du Master 2 “Technologies numériques
             appliquées à l’histoire” à l’Ecole nationale des chartes.</p>

        <ul>L’équipe City’nder :
            <br>
            <li>Gilmar Ballestrim</li>
            <li>Marina Hervieu</li>
            <li>Anna Le Duff</li>
            <li>Sarah Marcq</li>
        </ul>
        
        <p>C'est parti pour l'aventure, ton camion de démagement arrive déjà !</p>

        <a class="pointer hover-darker" href="{{url_for('recherche')}}" >
        <div class="loop-wrapper">
            <div class="mountain"></div>
            <div class="hill"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="rock"></div>
            <div class="truck" ></div>
            <div class="wheels"></div>
          </div> 
        </a>
        </div>

    </div>
    
   
    {% endblock %}
