{% extends "partials/conteneur.html" %}

<body>
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-8">

            <h3>
                Accueil 
            </h3>
            <div class="card card-body">
                <p><a href="{{ url_for('recherche')}}">Accèder à la recherche</a></p>
                <p><a href="{{ url_for('connexion')}}">Route connexion</a></p>
                <p><a href="{{ url_for('deconnexion')}}">Route déconnexion</a></p>
                <p><a href="{{ url_for('ajout_utilisateur')}}">Route inscription</a></p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
</body>