{% extends "partials/conteneur.html" %}
    
{% block content %}

<div class="h-100 w-100 bg-color-blue border bg-image">

    <!-- Conteneur formulaire d'ajout -->

    <div class="container pt-5 mt-5">
        <div class="mt-5">
            <div class="row mt-5">
                <div class="col-lg-6 col-md-4 col-sm-2"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 mt-5">

                    <h3 class="text-center text-dark">
                        <strong>S'INSCRIRE</strong>
                    </h3>
                    <div class="card mt-4">
                        
                        {% include "partials/formulaires/ajout_utilisateur.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>
<p class="down-right"><i><small>Image by <a class="link link-primary" href="https://www.freepik.com/free-photo/3d-view-map_45145206.htm#&position=5&from_view=collections&uuid=ec493a08-fb33-4000-b09a-7790c562a182">Freepik</a></small></i></p>
{% endblock %}

