{% extends "partials/conteneur.html" %}


{% block content %}
<div class="container text-dark mb-3 mt-5">
    <h1 class="my-5 vertical-center">Dashboard : visualise les données de City'nder. </h1>
    
    <p class="mx-3">City'nder te propose de savoir où se situent les communes que tu as sélectionnées dans ton panier, 
        quelles sont les communes les plus chères de France, et une répartition du prix du loyer par région. Ainsi tu 
        peux savoir si ta commune se situe dans une zone aux loyers élevés et si elle est dans la moyenne haute ou basse des régions de France (hors Mayotte)<p>
    <p class="mx-3">Clique sur les titres pour étendre ou cacher le contenu des champs.</p>
    
    {% include "partials/cartes/carte.html"%}

    {% include "pages/graphiques/moyenne_loyer_par_region.html"%}

<div class="col-6 d-flex align-items-start justify-content-start mt-3">
    <a href="{{url_for('panier')}}" class="mr-5">
        <button type="button" class="btn btn-lg btn-primary mr-5">
            Retour vers le panier
        </button>
    </a>
</div>  
    
{% endblock %}

