{%extends "partials/conteneur.html" %}

{% block content %}

<div class="container">
    <div class="row">
    
        {% if communes%}
            {% for commune in communes%}
                <div class="col-md-3">
                <img src="{{commune.url_image}}" alt="image de {{commune.LIBGEO}}" class="img-fluid"/>
                <p>{{commune.INSEE_C}} <br> {{commune.LIBGEO}}</p>
                <p>Voir le profil détaillé</p>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
{% endblock %}
