{% extends "partials/conteneur.html" %}

{% block body %}
<h1>Voici {{ dico_code_insee.nom_commune }}</h1>

<h3>IMAGE A INSERER</h3>
<p><p>Image de {{ dico_code_insee.nom_commune }}</p></p>

<p><strong>Démographie et géographie</strong></p>
<ul>
    <li><strong>Population :</strong> {{ "{:,.0f}".format(dico_code_insee.population|int).replace(',', ' ') }} habitants</li>
    <li><strong>Département :</strong> {{ dico_code_insee.departement }}</li>
    <li><strong>Région :</strong> {{ dico_code_insee.region }}</li>
    <li><strong>Superficie :</strong> {{ dico_code_insee.superficie }} km<sup>2</sup></li>
</ul>

<p><strong>Nature </strong></p>
    <ul>
        <li><strong>Mer :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if dico_code_insee.interets_naturels.MER == 1 %}
            Oui 
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Lac :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if dico_code_insee.interets_naturels.LAC == 1 %}
            Oui 
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Estuaire :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if dico_code_insee.interets_naturels.ESTUAIRE == 1 %}  
            Oui 
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Montagne :</strong>
            <!-- Vérifie si la variable existe : si True, affiche la variable --> 
            {% if dico_code_insee.interets_naturels.MASSIF %}
            {{dico_code_insee.interets_naturels.MASSIF}} 
            <!-- Vérifie si la variable est == 1 ; si True, passe à la vérification suivante -->
            {% elif dico_code_insee.interets_naturels.LOI_MONTAGNE == 1 %}
                {%if not dico_code_insee.interets_naturels.MASSIF %}
                    Massif indisponible
                {% endif %}
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée.
            {% endif %} 
        </li>
        <!-- GILMAR// MARINA :: CORRIGER CONDITIONNEL -->
    </ul>

<p><strong>Commerces </strong></p>
    <ul>
        <li><strong>Alimentation :</strong>
        <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
        {% if dico_code_insee.alimentation >= 1 %}
        {{ dico_code_insee.alimentation }}
        <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
        {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Commerces Generaux :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if dico_code_insee.commerces_generaux >= 1 %}
            {{ dico_code_insee.commerces_generaux }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Loisirs :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if dico_code_insee.loisirs >= 1 %}
            {{ dico_code_insee.loisirs }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Beauté et Accessoires :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if dico_code_insee.beaute_acessoires >= 1 %}
            {{ dico_code_insee.beaute_acessoires }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Station Service :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if dico_code_insee.station_service >= 1 %}
            {{ dico_code_insee.station_service }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Fleuriste, Jardinerie et Animalerie :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if dico_code_insee.fleur_jardin_animalerie >= 1 %}
            {{ dico_code_insee.fleur_jardin_animalerie }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ dico_code_insee.nom_commune }} n'est pas concernée. {% endif %}
        </li>
    </ul>

<p><strong>Sport </strong></p>
    <ul>
        {% for equipement in dico_code_insee.nb_etablissements_sportifs %}
            <li><strong>{{equipement[1]}} :</strong> {{equipement[0]}} </li>
            {% endfor %}
            <!-- afficher les 5 premiers voire plus  -->
    </ul>
{% endblock %}
