{% extends "partials/conteneur.html" %}

{% block content %}

<div class="container-fluid text-dark mb-3 mt-5">
    <div class="row ml-1 mr-1">
        <div class="col-md-4 col-lg-4 ml-4 mr-2">
            <h1 class="my-5">Recherche</h1>
            <p class="">Mini paragraphe intro.<p>
            <p class="">Clique sur les titres pour étendre ou cacher le contenu des champs.</p>
        </div>
        <div class="col-md-7 col-lg-6">
            {% include "partials/formulaires/recherche.html"%} 
        </div>
        <div class="col-md-1 col-lg-2"></div>

    </div>
</div>

{% endblock %}

