
{% block content %}

<div class="container">
    <div class="card card-body mx-auto my-1 py-0">

    <h2 class="text-center" data-toggle="collapse" data-target="#collapseGraphique1" aria-expanded="false"
    aria-controls="collapseGraphique1" class="card-title pl-4 pt-3 pointer">
    Les 20 communes les plus chères de France (de 25 à 30 €/m²) <i class="fa-solid fa-caret-down float-right mr-4"></i>
    </h2>
    <div class="collapse show m-3" id="collapseGraphique1">
                <div>
                    <canvas id="graphique" style="width: 700px;"></canvas>
                </div>
    </div>
    
        
    <script>
        const ctx = document.getElementById('graphique');
                    
        var graphe = new Chart(ctx, {
            type: 'polarArea',
                data: {
                    labels: [],
                    datasets: [{
                        data: []
                        }]
                        },
                        options: {
                        }
                    });

                    fetch('{{url_for("moyenne_loyer_par_commune_data")}}')
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            data.sort((a, b) => b.nombre - a.nombre);
                            
                            const top30Communes = data.slice(0, 20);
                            const labels = top30Communes.map(commune => commune.label);
                            const nombres = top30Communes.map(commune => commune.nombre);

                            graphe.data.labels = labels; ;
                            graphe.data.datasets.forEach((dataset) => {
                                dataset.data = nombres;
                            });
                            
                            graphe.options.plugins.colorschemes.scheme = 'tableau.ClassicAreaRedGreen21';
                            graphe.update();
        
                        });
        </script>
</div>
{% endblock %}
