
{% block content %}

<div class="container">
    <h2 class="text-center">Les 20 communes les plus chères de France (de 25 à 30 €/m²)</h2>
    <div>
        <canvas id="graphique" style="width: 700px;"></canvas>
    </div>
    
        
    <script>
        const ctx = document.getElementById('graphique');
                    
        var graphe = new Chart(ctx, {
            type: 'polarArea',
                data: {
                    labels: [],
                    datasets: [{
                        data: []
                        }]
                        },
                        options: {
                        }
                    });

                    fetch('{{url_for("moyenne_loyer_par_commune_data")}}')
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            data.sort((a, b) => b.nombre - a.nombre);
                            
                            const top30Communes = data.slice(0, 20);
                            const labels = top30Communes.map(commune => commune.label);
                            const nombres = top30Communes.map(commune => commune.nombre);

                            graphe.data.labels = labels; ;
                            graphe.data.datasets.forEach((dataset) => {
                                dataset.data = nombres;
                            });
                            
                            graphe.options.plugins.colorschemes.scheme = 'tableau.ClassicAreaRedGreen21';
                            graphe.update();
        
                        });
        </script>
</div>
{% endblock %}
