
<div class="modal fade" id="modalProfil" tabindex="-1" role="dialog" aria-labelledby="modalProfilVille" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalProfilVille">Profil détaillé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popup_profil">
          <h1>(nom de la ville) </h1>
          
          <div class="row row1">
            <div class="col-md-4 margi_bottom">
               <div class="class_box text_align_center">
                <h3><i class="fas fa-hand-holding-dollar"></i> Loyer</h3>
                <p>Loyer appartement</p>
                <p>Loyer maison</p>
               </div>
            </div>
            <div class="col-md-4 margi_bottom">
               <div class="class_box blue text_align_center">
                <h3><i class="fas fa-person-running"></i> Sport</h3>
                <p>Pétanque</p>
                <p>Football</p>
                <p>autre</p> 
                </div>
               
            </div>
            <div class="col-md-4 margi_bottom">
               <div class="class_box text_align_center">
                <h3><i class="fas fa-landmark"></i> Culture</h3>
                <p>Cinéma </p>
                <p>Musées </p>
                <p>Centre de création artistique</p>
                <p>autre</p>
                  
               </div>
               
            </div>
         </div>
         <div class="row row2">
          <div class="col-md-4 margi_bottom">
             <div class="class_box text_align_center">
              <h3><i class="fas fa-tree"></i> Nature</h3>
              <p>Mer </p>
              <p>Lac</p>
              <p>Montagne</p>
             </div>
          </div>
          <div class="col-md-4 margi_bottom">
             <div class="class_box blue text_align_center">
              <h3><i class="fas fa-cart-shopping"></i> Commerces</h3>
              <p>jsp</p>
              <p>jsp</p>
              <p>autre</p> 
              </div>
             
          </div>
          <div class="col-md-4 margi_bottom">
             <div class="class_box text_align_center">
              <h3><i class="fas fa-landmark"></i> Culture</h3>
              <p>Cinéma </p>
              <p>Musées </p>
              <p>Centre de création artistique</p>
              <p>autre</p>
                
             </div>
             
          </div>
       </div>
         </div>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>