
<div class="modal fade" id="modalProfil" tabindex="-1" role="dialog" aria-labelledby="modalProfilVille" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalProfilVille">Profil détaillé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popup_profil">
          <h1>(nom de la ville) </h1>
          
          <div class="row row1">
            <div class="col-md-4 margi_bottom">
               <div class="class_box text_align_center">
                <h3><i class="fas fa-hand-holding-dollar"></i> Loyer</h3>
                <p>Loyer appartement</p>
                <p>Loyer maison</p>
               </div>
            </div>
            <div class="col-md-4 margi_bottom">
               <div class="class_box blue text_align_center">
                <h3><i class="fas fa-person-running"></i> Sport</h3>
                <p>Pétanque</p>
                <p>Football</p>
                <p>autre</p> 
                </div>
               
            </div>
            <div class="col-md-4 margi_bottom">
               <div class="class_box text_align_center">
                <h3><i class="fas fa-landmark"></i> Culture</h3>
                <p>Cinéma </p>
                <p>Musées </p>
                <p>Centre de création artistique</p>
                <p>autre</p>
                  
               </div>
               
            </div>
         </div>
         <div class="row row2">
          <div class="col-md-4 margi_bottom">
             <div class="class_box text_align_center">
              <h3><i class="fas fa-tree"></i> Nature</h3>
              <p>Mer </p>
              <p>Lac</p>
              <p>Montagne</p>
             </div>
          </div>
          <div class="col-md-4 margi_bottom">
             <div class="class_box blue text_align_center">
              <h3><i class="fas fa-cart-shopping"></i> Commerces</h3>
              <p>jsp</p>
              <p>jsp</p>
              <p>autre</p> 
              </div>
             
          </div>
          <div class="col-md-4 margi_bottom">
             <div class="class_box text_align_center">
              <h3><i class="fas fa-landmark"></i> Culture</h3>
              <p>Cinéma </p>
              <p>Musées </p>
              <p>Centre de création artistique</p>
              <p>autre</p>
                
             </div>
             
          </div>
       </div>
         </div>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->

<h1>Voici {{ infos_commune.nom_commune }}</h1>

<h3>IMAGE A INSERER</h3>
<p><p>Image de {{ infos_commune.nom_commune }}</p></p>

<p><strong>Démographie et géographie</strong></p>
<ul>
    <li><strong>Population :</strong> {{ "{:,.0f}".format(infos_commune.population|int).replace(',', ' ') }} habitants</li>
    <li><strong>Département :</strong> {{ infos_commune.departement }}</li>
    <li><strong>Région :</strong> {{ infos_commune.region }}</li>
    <li><strong>Superficie :</strong> {{ infos_commune.superficie }} km<sup>2</sup></li>
</ul>

<p><strong>Nature </strong></p>
    <ul>
        <li><strong>Mer :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if infos_commune.interets_naturels.MER == 1 %}
            Oui 
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Lac :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if infos_commune.interets_naturels.LAC == 1 %}
            Oui 
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Estuaire :</strong>
            <!-- Vérifie si la variable est == 1, car il s'agit d'un Booléen -->
            {% if infos_commune.interets_naturels.ESTUAIRE == 1 %}  
            Oui 
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée.
            {% endif %}
        </li>
        <li><strong>Montagne :</strong>
            <!-- Vérifie si la variable existe : si True, affiche la variable --> 
            {% if infos_commune.interets_naturels.MASSIF %}
            {{infos_commune.interets_naturels.MASSIF}} 
            <!-- Vérifie si la variable est == 1 ; si True, passe à la vérification suivante -->
            {% elif infos_commune.interets_naturels.LOI_MONTAGNE == 1 %}
                {%if not infos_commune.interets_naturels.MASSIF %}
                    Massif indisponible
                {% endif %}
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée.
            {% endif %} 
        </li>
        <!-- GILMAR// MARINA :: CORRIGER CONDITIONNEL -->
    </ul>

<p><strong>Commerces </strong></p>
    <ul>
        <li><strong>Alimentation :</strong>
        <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
        {% if infos_commune.alimentation >= 1 %}
        {{ infos_commune.alimentation }}
        <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
        {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Commerces Generaux :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if infos_commune.commerces_generaux >= 1 %}
            {{ infos_commune.commerces_generaux }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Loisirs :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if infos_commune.loisirs >= 1 %}
            {{ infos_commune.loisirs }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Beauté et Accessoires :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if infos_commune.beaute_acessoires >= 1 %}
            {{ infos_commune.beaute_acessoires }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Station Service :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if infos_commune.station_service >= 1 %}
            {{ infos_commune.station_service }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
        <li><strong>Fleuriste, Jardinerie et Animalerie :</strong>
            <!-- Vérifie si la valeur de la variable est > ou = 1, si True affiche leur valeur -->
            {% if infos_commune.fleur_jardin_animalerie >= 1 %}
            {{ infos_commune.fleur_jardin_animalerie }}
            <!-- Si la valeur de la variable n'est pas > ou = 1, affiche message -->
            {% else %} {{ infos_commune.nom_commune }} n'est pas concernée. {% endif %}
        </li>
    </ul>

    {% if infos_commune.nb_etablissements_sportifs %}
    <p><strong>Sport </strong></p>
    <ul>
        {% for equipement in infos_commune.nb_etablissements_sportifs %}
            <li><strong>{{equipement[1]}} :</strong> {{equipement[0]}} </li>
            {% endfor %}
            <!-- afficher les 5 premiers voire plus  -->
    </ul>
    {% endif %}

    </div>
  </div>
</div>