{% extends "partials/conteneur.html" %}

{% block content%}
<div class="container" id="apropos" >
        
    <div class="row">
        <div class="col-4 text-center text-lg-start">
            <img class="img-fluid animated zoomIn w-75" src="../../statics/img/logo_rond_fond.png" alt="cytinder_map" id="cytinder_map">
        </div>
        <div class="col-lg-8">
            <h1 class="apropos_titre">À propos de City’nder, l'application qui t’indique où vivre ! </h1>
            <p>
                Bienvenue sur City’nder, ton compagnon de confiance pour trouver la ville idéale où poser tes valises. Découvre ta ville idéale !
            </p>
        </div>
    </div>

    <h3 class="apropos_sous_titre">Notre Mission</h3>
    <div>
        Chez City’nder, notre mission est de simplifier ta recherche de logement en mettant 
        en avant tes critères. Pour trouver la ville parfaite, nous te proposons une expérience
        inédite : explore les villes de France (hors Mayotte) à travers des profils variés. En acceptant ou en 
        refusant les profils, tu te rapproches de tes besoins, et donc de la ville de tes rêves!
    </div>
    <h3 class="apropos_sous_titre">Comment ça marche ?</h3>
    <div>
        Notre système original te présente des profils de villes, chacun détaillant ses 
        caractéristiques uniques, des loyers attractifs aux équipements sportifs, culturels et 
        commerciaux. Face à chaque profil, choisis si la ville te plaît ou non et fais le tri 
        en un simple clic. 
    </div>
    <h3 class="apropos_sous_titre">Des filtres personnalisés</h3>
    <div>
        Chaque personne a des besoins spécifiques, c'est pour cette raison que City’nder 
        t’offre la possibilité d'affiner tes choix en utilisant des filtres personnalisés. 
        Que tu recherches un loyer abordable, une vie culturellement riche, des installations 
        sportives de qualité, que tu souhaites vivre dans une zone de montagne ou près du littoral, 
        nous avons les filtres adaptés pour t’aider à affiner tes options.
    </div>
    <h3 class="apropos_sous_titre">Comparer les villes de ton panier</h3>
    <div>
        Une fois ton exploration terminée, City’nder te donne la liste de tes villes préférées. 
        Découvre aussi les informations complémentaires que nous te proposons : explore les 
        différentes datavisualisations pour en apprendre plus sur nos données mais aussi sur les 
        villes que tu as sélectionnées ! 
    </div>
    <h3 class="apropos_sous_titre">Qui sommes-nous ?</h3>
    <div>
        <p>Notre équipe s’est réunie autour d’un même objectif : rendre la recherche de lieux 
            de vie amusante ! C’est pour répondre à cet objectif que nous avons imaginé 
            l’aventure City’nder.</p>

        <p>Notre application a été réalisée dans le cadre du Master 2 “Technologies numériques
             appliquées à l’histoire” à l’Ecole nationale des chartes.</p>
        <p>L’équipe City’nder :
            <ul>
                <li>Gilmar Ballestrim</li>
                <li>Marina Hervieu</li>
                <li>Anna Le Duff</li>
                <li>Sarah Marcq</li>
            </ul>
        </p>
        <h3 class="apropos_sous_titre">Nos données</h3>
        <div>
            <p>L'application est basée sur les jeux de données publics suivants :</p>
            <ul>
                <li><a class="link-panier-2" href="https://www.data.gouv.fr/fr/datasets/carte-des-loyers-indicateurs-de-loyers-dannonce-par-commune-en-2022/#/resources">Les Indicateurs de loyers d'annonce par commune en France en 2022</a></li>
                <li><a class="link-panier-2" href="https://equipements.sports.gouv.fr/pages/accueil/">Data ES : Recensement national des équipements sportifs et lieux de pratiques</a></li>
                <li><a class="link-panier-2" href="https://www.data.gouv.fr/fr/datasets/base-des-lieux-et-equipements-culturels-basilic/#/community-reuses">Basilic : Base des lieux et équipements culturels</a></li>
                <li><a class="link-panier-2" href="https://www.insee.fr/fr/statistiques/3568602?sommaire=3568656#consulter">La Base permanente des équipements (BPE) pour les commerces</a></li>
                <li>Pour la nature :
                    <ul>
                        <li><a class="link-panier-2" href="https://www.observatoire-des-territoires.gouv.fr/pn-communes-des-parcs-nationaux">Les communes des parcs nationaux (PN)</a></li>
                        <li><a class="link-panier-2" href="https://www.observatoire-des-territoires.gouv.fr/pnr-communes-des-parcs-naturels-regionaux">Les communes des parcs naturels régionaux (PNR)</a></li>
                        <li><a class="link-panier-2" href="https://www.data.gouv.fr/fr/datasets/communes-de-la-loi-littoral-au-code-officiel-geographique-cog-2020-2022/#/resources">Les communes concernées par la Loi Littoral</a></li>
                        <li><a class="link-panier-2" href="https://www.data.gouv.fr/fr/datasets/communes-de-la-loi-montagne-au-code-officiel-geographique-cog-2020-2022/">Les communes concernées par la Loi Montagne</a></li>
                        <li><a class="link-panier-2" href="https://www.data.gouv.fr/fr/datasets/les-perimetres-de-massifs/#/resources">Les périmètres de massifs</a></li>
                    </ul>
                </li>
            </ul>
            <p>
                Nous avons réalisé un important traitement de ces jeux pour construire la base de données l'application. Dans le cadre du projet, nous avons également eu l'occasion de réaliser quelques data-visualisation.
            </p>
            <p> <a class="link-panier-1 h5 float-right my-3" href="../../statics/Citynder_Journal_de_bord.pdf" target="_blank"><i class="fa fa-file-text mr-2" aria-hidden="true"></i>
                 Consulter le journal de bord du traitement de données</a></p>
        </div>
        
        <h3 class="apropos_sous_titre text-center mt-5">C'est parti pour l'aventure, ton camion de démagement arrive déjà !</h3>
        <!-- Animation camion et lien vers la recherche -->
        <a class="pointer hover-darker" href="{{url_for('recherche')}}" >
        <div class="loop-wrapper">
            <div class="mountain"></div>
            <div class="hill"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="rock"></div>
            <div class="truck" ></div>
            <div class="wheels"></div>
          </div> 
        </a>
    </div>

</div>   
{% endblock %}
