{% extends "partials/conteneur.html" %}

{% block content %}
<div class="container text-dark mb-3 mt-5">
            <h1 class="my-5 vertical-center">Recherche : sélectionne tes critères pour trouver ta ville.</h1>
            <p class="mx-3">City'nder te propose de sélectionner des critères correspondant à tes besoins pour affiner ta recherche.<p>
            <p class="mx-3">Clique sur les titres pour étendre ou cacher le contenu des champs.</p>
            {% include "partials/formulaires/recherche.html"%} 
</div>

{% endblock %}

