{% extends "partials/conteneur.html" %}

{% block content %}

<div class="container-fluid text-dark mt-5">

    <div class="row justify-content-center">
        <!-- Bouton "Suivant" à gauche -->
        <div class="col-3 text-center d-flex align-items-center justify-content-center mt-5">
            <a href="{{ url_for('profil_commune', index=index+1) }}">
                <button type="button" class="btn btn-danger btn-circle">
                    <i class="fa fa-times"></i>
                </button>
            </a>
        </div>

        <!-- Contenu centré -->
        <div class="col-6 mt-5">
            <div class="card p-3 radius-3D" id="{{id}}" >
                <h1 class="h1 my-4 mb-1 text-center">Commune n°{{index+1}} : {{ infos_commune.nom_commune }}</h1>
                <!-- Bouton "Plus de détails"  -->
                <div class="row mt-3">
                    <div class="col ml-5 text-center">
                        <a class="pointer" href="{{url_for('profil_detaille_commune', code_insee=infos_commune.code_insee)}}" target="_blank">
                            {%if infos_commune.url_img%}
                            <img class="img-fluid hover-darker w-75" src="{{ infos_commune.url_img }}" alt="Image de la ville">
                            <br>
                            {% endif %}
                            <i class="fas fa-location-crosshairs"></i><strong> Plus de détails ici</strong>    
                        </a>
                    </div>
                    <div class="col">
                        <p><strong>Code INSEE : </strong> {{ infos_commune.code_insee }}</p>
                        <p><strong>Région : </strong>{{ infos_commune.region }}</p>
                        <p><strong>Département : </strong>{{ infos_commune.departement }}</p>
                        <p><strong>Indicateur du loyer en maison :</strong> {{ infos_commune.prix_m2_maisons }} €/m²</p>
                        <p><strong>Indicateur du loyer en appartement :</strong> {{ infos_commune.prix_m2_appartements }} €/m²</p>        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class= "col ml-5">
                        <h4>Equipements</h4>
                        <p><strong>{{ infos_commune.nb_commerces }}</strong> commerces<br>
                            <strong>{{ infos_commune.nb_etablissements_culturels }}</strong> établissements culturels<br>
                            <strong>{{ infos_commune.nb_etablissements_sportifs }}</strong> équipements sportifs</p>
                    </div>
                    <div class= "col">
                        <h4>Nature</h4>
                        <ul class="list-unstyled">
                            <li><strong>Mer :</strong> {% if infos_commune.interets_naturels.MER %} Oui {% else %} Non {% endif %}</li>
                            <li><strong>Lac :</strong> {% if infos_commune.interets_naturels.LAC %} Oui {% else %} Non {% endif %}</li>
                            <li><strong>Estuaire :</strong> {% if infos_commune.interets_naturels.ESTUAIRE %} Oui {% else %} Non {% endif %}</li>
                            <li><strong>Montagne :</strong> {% if infos_commune.interets_naturels.LOI_MONTAGNE %} Oui {% elif infos_commune.interets_naturels.MASSIF!= "Hors massif" %} Oui {% else %} Non{% endif %}</li>
                                {% if infos_commune.interets_naturels.MASSIF %} 
                                    {% if infos_commune.interets_naturels.MASSIF!= "Hors massif" %} 
                                        <li><strong>Massif montagneux :</strong> {{infos_commune.interets_naturels.MASSIF}} 
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bouton "Suivant" à droite -->
        <div class="col-3 text-center d-flex align-items-center justify-content-center mt-5">
            <div class="row-flew"></div>
            <a href="{{ url_for('ajout_panier', index=index) }}">
                <button type="button" class="btn btn-success btn-circle">
                    <i class="fa fa-check"></i>
                </button>
            </a>          
        </div>
    </div>
    
        <div class="row my-5">
            <div class="col-8"></div>
            <div class="col-4">
                <!-- Bouton "Recherches terminées" en bas à droite -->
                <a href="{{url_for('dashboard')}}" class="ml-5">
                    <button type="button" class="btn btn-success">
                        Recherches terminées
                    </button>
                </a>
            </div>
        </div>

    </div>
    
    
{% endblock %}
