
{%block html%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <body data-rsssl=1>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
crossorigin=""></script>

<style>
#map { height: 350px; }
</style>

<main>
    <div id="map"></div>
</main>

<script method="post">
const map = L.map('map',{scrollWheelZoom: 'center'}); // initialisation de la carte 

map.setView([48.36, 1.52], 4); // coordonnées initiales et zoom


L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19,
attribution: '© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map); // background de la carte

let get_radius = null; // rayon de départ du cercle (en kilomètres)
let get_lat_lng = null; // coordonnées de départ du centre du cercle


const circle = L.circle([46.5, 1.94], {
    radius: 575000,
    color: '#5784BA', 
    opacity:.5}
    );
  circle.addTo(map); // intialisation et ajout du cercle

 
var myZoom = {
    start:  map.getZoom(),
    end: map.getZoom()
  }; 
  
map.on('zoomstart', function(e) {
     myZoom.start = map.getZoom(); //stocker le zoom de départ
  });
  
map.on('zoomend', function(e) {
      myZoom.end = map.getZoom(); //stocker le zoom de final
      var diff = myZoom.start - myZoom.end;
      if (diff > 0) { // s'il y a eu un zoom, augmenter le rayon
          radius = circle.setRadius(circle.getRadius() * 2);
      } else if (diff < 0) { // s'il y a eu un dézoom, diminuer le rayon
          radius = circle.setRadius(circle.getRadius() / 2);
      }
      let get_radius = circle.getRadius(); // stocker le nouveau rayon et les nouvelles coordonnées du centre
      let get_lat_lng = circle.getLatLng()
  });


map.on('move',function(e){
    circle.setLatLng(map.getCenter());
    map._renderer._update();
    }); // forcer le cercle au centre de la carte

    console.log(formData.get("opera"))
    // envoyer la variable à jinja
    let data = new FormData()
    data.append("name", "Flask Room")
    data.append("description", "Talk about Flask here.")
    fetch(room_url, {
        "method": "POST",
        "body": data,
    })
    
</script>

  
{%endblock%}