{% extends "partials/conteneur.html" %}

{% block body %}
<div class="container-fluid mb-5 mt-5" id="conteneur">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-body mx-auto my-1 py-0" id="idcarte">
                    <h3 data-toggle="collapse" data-target="#collapseBien" aria-expanded="false"
                        aria-controls="collapseBien" class="card-title pl-4 pt-3">
                        Carte des communes sélectionnées <i class="fa-solid fa-caret-down float-right mr-4"></i>
                    </h3>
                    <div class="collapse show m-3">
                        <div class="card-text pl-2">
                            <div class="row">
                                <div class="col">
                                    <h3>Réunion</h3>
                                    <div id="mapReunion" style="height: 225px; width: 220px;"></div>
                                </div>
                                <div class="col">
                                    <h3>Guadeloupe</h3>
                                    <div id="mapGuadeloupe" style="height: 225px; width: 220px;"></div>
                                </div>
                                <div class="col">
                                    <h3>Martinique</h3>
                                    <div id="mapMartinique" style="height: 225px; width: 220px;"></div>
                                </div>
                                <div class="col">
                                    <h3>Guyane</h3>
                                    <div id="mapGuyane" style="height: 225px; width: 220px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-body mx-auto my-1 py-0" id="franceMetropolitaine">
                                <h3 class="card-title text-center">France métropolitaine</h3>
                                <div id="map" style="height: 770px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
                    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
                    crossorigin=""/>
                    <div id="map"></div>

                    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
                    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
                    crossorigin=""></script>

                    <script>
                         
                        
                        // Fonction pour ajouter le marqueur sur les coordonnées géographiques des communes aux cartes
                        function addMarkers(map, data) {
                            data.forEach(commune => {
                                const popupContent = `
                                    <strong>${commune.label}</strong><br>
                                    Région: ${commune.region}<br>
                                    Prix du loyer au m² (maison): ${commune.loyer_maison}€<br>
                                    Prix du loyer au m² (appartement): ${commune.loyer_appart}€<br>
                                `;
                                L.marker([commune.coord.lat, commune.coord.long]).addTo(map)
                                    .bindPopup(popupContent);
                            });
                        }

                        // Récupérer les données des communes sélectionnées dans le panier
                        fetch('/carte_panier')
                            .then(response => response.json())
                            .then(data => {

                                // Encart pour carte france métropolitaine et ajouter marqueur
                                var mainMap = L.map('map').setView([47.16, 2.04], 6);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 16,
                                    minZoom: 4,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(mainMap);
                                addMarkers(mainMap, data);

                                // Encart pour la carte de la Réunion
                                var reunionMap = L.map('mapReunion').setView([-21.13, 55.52], 6);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 16,
                                    minZoom: 9,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(reunionMap);
                                addMarkers(reunionMap, data);

                                // Encart pour la carte de la Guyane
                                var guyaneMap = L.map('mapGuyane').setView([4, -53], 6);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 16,
                                    minZoom: 4,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(guyaneMap);
                                addMarkers(guyaneMap, data);

                                // Encart pour la carte de la Guadeloupe
                                var guadeloupeMap = L.map('mapGuadeloupe').setView([16.26, -61.55], 9);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 16,
                                    minZoom: 4,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(guadeloupeMap);
                                addMarkers(guadeloupeMap, data);

                                // Encart pour la carte de la Martinique
                                var martiniqueMap = L.map('mapMartinique').setView([14.64, -61.02], 9);
                                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                    maxZoom: 16,
                                    minZoom: 4,
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                }).addTo(martiniqueMap);
                                addMarkers(martiniqueMap, data);
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}