{% extends "bootstrap/base.html" %}

  <!-- <title>Citynder | {{sous_titre}}</title> -->
  {% block title %}Citynder{% endblock %}

  {% block head %}
  {% include "partials/css.html" %}
  {% include "partials/metadata.html" %}
  {% include "partials/js.html" %}
  {% block js %}{%endblock%}
  {% block css %}{%endblock%}
  {% endblock %}

  {% block navbar %}
  {% endblock %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  {% block body %}

  {% endblock %}