{% extends "bootstrap/base.html" %}

  <!-- <title>Citynder | {{sous_titre}}</title> -->
  {% block title %}Citynder{% endblock %}

  {% block head %}
  {% include "partials/css.html" %}
  {% include "partials/metadata.html" %}
  {% include "partials/js.html" %}
  {% block js %}{%endblock%}
  {% block css %}{%endblock%}
  {% endblock %}

  {% block navbar %}
 
{% block header %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

  </div>

  {% endblock %}

  {% endblock %}