/* Panier  */

#grille_panier {
    text-align: center;
    color: rgb(55, 4, 61);
    margin: 10px;
    height: 360px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 9px 12px 18px 1px #393838; 
    box-shadow: 8px 10px 16px 1px #3c3b3b;
}


/* #conteneur-row #grille_panier:nth-child(4n+1) { 
    background: #FFED00;
} */
/* #conteneur-row #grille_panier:nth-child(4n+1) { 
    background: linear-gradient(45deg, #e4dd78,50%, #ffe016);
}
#conteneur-row #grille_panier:nth-child(4n+2) { 
    background: linear-gradient(45deg, #a7e2ed,50%, #11e6e9) ;

}
#conteneur-row #grille_panier:nth-child(4n+3) { 
    background: linear-gradient(45deg, rgb(229, 229, 229),20%, rgb(255, 255, 255));
}

#conteneur-row #grille_panier:nth-child(4n+4) { 
    background: linear-gradient(45deg,#f75939,70%, #e03f1e);

}  */

#conteneur-row{
    padding-left: 9%;
}

#conteneur_image{
    overflow: hidden;
    padding: 5px;
    max-height: 290px;
    max-width: 310px;
    text-align: center;
    justify-content: center
}

/* URL */

.link-panier-2{
    color: rgb(55, 4, 61);
    text-decoration-line: underline;
    font-size: 90%
} 

.link-panier-1{
    color: rgb(55, 4, 61) ;
    font-weight: bold;
    font-size: 105%
} 

/* centrer verticalement */
.vertical-center {
    text-align: center;
    align-items: center;
    justify-content: center
}
body {
      background-color: #ebdff7;
      }
            
  .navbar-items {
                display: flex ;
                list-style: none;
                justify-content: left;
                background-color: #2f0458;
                color: antiquewhite;
            }

  .navbar-item {
                margin-right: 10px; 
                
               
            }
  .dropdown-item{
    color: antiquewhite;
  }

#navbarNavAltMarkup{
  background-color: #2f0458;
  position:absolute;
  height:auto;
  width:350px;
  max-width:100%;
  padding-left:20px;
}


.unboutton{
  border-radius: 12px;
  background-color:rgb(52, 4, 97);
  color: white;
  border: 2px solid #140361; 
}

#connexion{
  color: black;
}

/* Formulaire de recherche */
#carte{
    width: 30%; height: 30%;
    right: 15%;
    z-index: 100
}
#bouton-rechercher{
    float: right;
    z-index: 100;
    margin-right: 14%;

}