/* Panier  */
#grille_panier {
    text-align: center;
    border: 5px solid rgb(90, 7, 138);
    margin: 10px;
    height: 350px;
    width: 300px;
}

#conteneur_image{
    overflow: hidden;
    padding: 10px;
    max-height: 250px;
    max-width: 280px;
    text-align: center;
    justify-content: center
}
/* 
#img_panier{
} */

  body {
      background-color: #ebdff7;
      }
            
  .navbar-items {
                display: flex ;
                list-style: none;
                justify-content: left;
                background-color: #2f0458;
                color: antiquewhite;
            }

  .navbar-item {
                margin-right: 10px; 
                
               
            }
  .dropdown-item{
    color: antiquewhite;
  }

#navbarNavAltMarkup{
  background-color: #2f0458;
  position:absolute;
  height:auto;
  width:350px;
  max-width:100%;
  padding-left:20px;
}


.unboutton{
  border-radius: 12px;
  background-color:rgb(52, 4, 97);
  color: white;
  border: 2px solid #140361; 
}

#connexion{
  color: black;
}



